.gsc-control-cse {
  padding: 0 !important;
  margin: 3em auto 0;
  width: auto;
  max-width: 20em;
  line-height: normal;
}
td.gsc-search-button, td.gsc-input {
  padding: 0 !important;
  vertical-align: top !important;
}
div.gsc-input-box {
  border: none !important;
  margin-right: 8px !important;
}
input.gsc-input {
  background: none !important;
}
input.gsc-search-button {
  margin: 0 !important;
  background-color: #777 !important;
  border: none !important;
  border-radius: 0 !important;
}
input.gsc-search-button:hover {
  background-color: #f43059 !important;
}

